app/pug/index.pug
extends layout/main-layout

block body

  block header
    //#parallax-parent
    //  //#parallax-twin
    //  #parallax
    //    #parallax-title 123
    header.header
      #parallax-parent
        #parallax-twin
        #parallax
          //#parallax-title 123
      .wrapper
        .header-top
          .logo
            a(href="/")
              img(src="../img/logo-projectae.svg")
          nav.nav
            ul.nav-list
              li.nav-list__item
                a.nav-link(href="#directions") Directions
              li.nav-list__item
                a.nav-link(href="#technologies") Technologies
              li.nav-list__item
                a.nav-link(href="#contacts") Contacts
        .header-main
          .preview
            h1.preview-title On the edge of technologies.
            .preview-info
              p.bold PPROJECTS
              p Software development
              p and maintenance

  block content
    section.section.section--directions#directions
      .section__sidebar
        h3 Directions
      .section__content
        .block-area

          .block
            .block-content
              .block-content__img
                include blocks/svg-icon-development
                //img(src='../img/icon-development.svg')
              .block-content__info
                .block-content__info-title Development
                .block-content__info-text Custom software development and it services outsourcing

            .block-content
              .block-content__img
                include blocks/svg-icon-consulting
                //img(src='../img/icon-consulting.svg')
              .block-content__info
                .block-content__info-title Consulting
                .block-content__info-text The creation of industry-specific it solutions, it-Consulting

          .block
            .block-content
              .block-content__img
                include blocks/svg-icon-blockchain
                //img(src='../img/icon-blockchain.svg')
              .block-content__info
                .block-content__info-title Blockchain
                .block-content__info-text Blockchain development

            .block-content
              .block-content__img
                include blocks/svg-icon-mobile
                //img(src='../img/icon-mobile.svg')
              .block-content__info
                .block-content__info-title Mobile
                .block-content__info-text Mobile application development

          .block
            .block-content
              .block-content__img
                include blocks/svg-icon-big-data
                //img(src='../img/icon-big-data.svg')
              .block-content__info
                .block-content__info-title Big Data
                .block-content__info-text Big Data

            .block-content
              .block-content__img
                include blocks/svg-icon-consulting
                //img(src='../img/icon-corp-sys.svg')
              .block-content__info
                .block-content__info-title Corporate systems
                .block-content__info-text Development and implementation of corporate systems management (BI, CPM, MDM)


    section.section.section--technologies#technologies
      .section__sidebar
        h3 Technologies
      .section__content
        p.title In our work we use the most modern project management and team integration technologies
        .block-area
          .block
            .block-content
              .block-content__info
                .block-content__info-title Languages<br> programmings
                .block-content__info-text
                  ul
                    li php7.x
                    li С#
                    li js
                    li Python

          .block
            .block-content
              .block-content__info
                .block-content__info-title Data <br>base
                .block-content__info-text
                  ul
                    li postgresql
                    li mysql
                    li mssql
                    li mongo

          .block
            .block-content
              .block-content__info
                .block-content__info-title Blockchain<br> development
                .block-content__info-text
                  ul
                    li Etherium
                    li Solidity
                    li Openzepplin

          .block
            .block-content
              .block-content__info
                .block-content__info-title Mobile <br>development
                .block-content__info-text
                  ul
                    li Objective-C
                    li Swift
                    li Java

    section.section.section--contacts#contacts
      .section__sidebar
        h3 Contacts
      .section__content

        .content-area
          .block-info
            .block-info__label Address:
            .block-info__text Lithuania, Kęstučio g. 1-8<br>LT-08118 Vilnius

          .block-info
            .block-info__label Phone:
            .block-info__text  +370 687 11650

      .section__map
        .map
          img(src="../img/map2.png")
          //.place
          //  img(src="../img/icon-place.svg")
        .map-button
          img(src="../img/arrow.svg")
        //.content-map
        //  .map
        //    img(src="../img/map.png")
        //  .map-button
        //    img(src="../img/arrow.svg")

    section.section.section--form
      .title Leave a request for the calculation of the project. It's free
      form.form
        input.form-field(type='text' placeholder='Phone or e-mail')
        input.form-button(type='submit' value='Reach')



  block footer
    footer.footer
      .footer-info Modern technologies for solving complex problems



append scripts
  // анимация при прокрутке
  //script new WOW().init();
  //script(src = 'js/script.js')

app/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--meta(name="viewport" content="width=1366, initial-scale=1")-->
    <title>Title</title>
    <!--for scss-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/assets/animate.css">
    <!--link(rel="stylesheet" href="/assets/wow-animation/animate.min.css")-->
  </head>
  <body class="main-layout">
    <!--#parallax-parent-->
    <!--  //#parallax-twin-->
    <!--  #parallax-->
    <!--    #parallax-title 123-->
    <header class="header">
      <div id="parallax-parent">
        <div id="parallax-twin"></div>
        <div id="parallax">
          <!--#parallax-title 123-->
        </div>
      </div>
      <div class="wrapper">
        <div class="header-top">
          <div class="logo"><a href="/"><img src="../img/logo-projectae.svg"></a></div>
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-list__item"><a class="nav-link" href="#directions">Directions</a></li>
              <li class="nav-list__item"><a class="nav-link" href="#technologies">Technologies</a></li>
              <li class="nav-list__item"><a class="nav-link" href="#contacts">Contacts</a></li>
            </ul>
          </nav>
        </div>
        <div class="header-main">
          <div class="preview">
            <h1 class="preview-title">On the edge of technologies.</h1>
            <div class="preview-info">
              <p class="bold">PPROJECTS</p>
              <p>Software development</p>
              <p>and maintenance</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section section--directions" id="directions">
      <div class="section__sidebar">
        <h3>Directions</h3>
      </div>
      <div class="section__content">
        <div class="block-area">
          <div class="block">
            <div class="block-content">
              <div class="block-content__img">
                <svg xmlns="http://www.w3.org/2000/svg" width="217" height="177" fill="none" viewBox="0 0 217 177">
                  <path fill="none" d="M.498.498h216.296v175.43H.498z"></path>
                  <path stroke="#000" stroke-miterlimit="10" d="M216.502.498H.498v175.429h216.004V.498zM.791 17.925h216.004"></path>
                  <path stroke="#000" stroke-miterlimit="10" d="M21.703 12.834a3.626 3.626 0 0 0 3.624-3.628 3.626 3.626 0 0 0-3.625-3.628 3.626 3.626 0 0 0-3.624 3.628 3.626 3.626 0 0 0 3.625 3.628zM9.922 12.834a3.626 3.626 0 0 0 3.625-3.628 3.626 3.626 0 0 0-3.625-3.628 3.626 3.626 0 0 0-3.624 3.628 3.626 3.626 0 0 0 3.624 3.628zM33.845 12.834a3.626 3.626 0 0 0 3.624-3.628 3.626 3.626 0 0 0-3.624-3.628 3.626 3.626 0 0 0-3.625 3.628 3.626 3.626 0 0 0 3.625 3.628zM43.142 17.913v157.816M22.79 37.504h-6.525v6.53h6.525v-6.53zM29.314 51.29H22.79v6.53h6.524v-6.53zM29.314 70.06H22.79v6.53h6.524v-6.53zM29.314 87.833H22.79v6.53h6.524v-6.53zM29.314 105.534H22.79v6.53h6.524v-6.53zM29.314 122.31H22.79v6.531h6.524v-6.531zM29.314 139.087H22.79v6.53h6.524v-6.53zM60.665 137.499h36.56M103.379 137.499h13.393M122.202 137.499h44.523M97.588 117.801h13.393M164.916 117.801h13.393M116.41 117.801h44.524M60.304 78.146h20.995M145.731 78.146h20.995M171.793 78.146h20.995M88.538 78.146h49.229M60.304 156.89h20.995M145.731 156.89h20.995M171.793 156.89h20.995M88.538 156.89h49.229M60.304 99.14h137.552M61.028 117.801h30.406M83.936 34.807L59.942 46.852l23.994 13.496M110.975 34.807l24.067 12.045-24.067 13.496M104.161 28.712L92.998 67.17M19.528 126.011h3.262M19.528 109.234h3.262M19.437 44.257v97.682h2.99M19.528 73.035h3.262M19.528 91.104h3.262M19.528 54.265h3.262"></path>
                </svg>
                <!--img(src='../img/icon-development.svg')-->
              </div>
              <div class="block-content__info">
                <div class="block-content__info-title">Development</div>
                <div class="block-content__info-text">Custom software development and it services outsourcing</div>
              </div>
            </div>
            <div class="block-content">
              <div class="block-content__img">
                <svg xmlns="http://www.w3.org/2000/svg" width="221" height="162" fill="none" viewBox="0 0 221 162">
                  <path fill="none" d="M0 .497h220.357v161.164H0z"></path>
                  <path fill="none" d="M0 .497h220.357v161.164H0z"></path>
                  <path stroke="#000" stroke-miterlimit="10" d="M220.357.497H.497v149.289h219.86V.497z"></path>
                  <path stroke="#000" d="M79.587.497v149.226"></path>
                  <path stroke="#000" d="M0-.5h150.003" transform="matrix(-.00663 .99482 -.99484 0 144.749 .497)"></path>
                  <path stroke="#000" d="M0 74.718h219.859M79.443 114.192h64.515"></path>
                  <path stroke="#000" stroke-miterlimit="10" d="M177.406 65.764c11.989 0 21.709-9.699 21.709-21.663s-9.72-21.662-21.709-21.662c-11.989 0-21.709 9.698-21.709 21.662 0 11.964 9.72 21.663 21.709 21.663z"></path>
                  <path stroke="#000" stroke-miterlimit="10" d="M195.408 33.006L176.876 44.1l19.167 11.149M88.719 57.046c1.059 0 7.413 7.397 7.413 7.397l14.295-26.946 12.708 10.039 11.119-20.078M22.568 65.811v-7.53M34.029 65.811V46.984M45.488 65.811V41.337M56.948 65.811V46.984M68.408 65.811v-33.08M172.085 124.663v-4.326M179.105 131.125v-10.788M186.194 120.443v-18.906M193.283 120.444v-14.527M165.149 120.444v-12.818M158.686 126.852v-6.409M151.598 130.324v-9.881M200.832 120.443V87.865M85.807 92.182c2.647-1.057 4.87-3.012 7.412 2.113 2.648 5.284 5.295 7.926 8.472.529 3.177-7.397 4.765-14.266 9.001-4.227s5.824 7.925 9.001 3.17c3.177-4.755 4.236-4.755 5.295-4.755 1.059 0 4.236 6.868 6.883 6.868h3.707M35.77 124.148c6.142 0 11.12-4.968 11.12-11.096s-4.978-11.095-11.12-11.095c-6.14 0-11.118 4.967-11.118 11.095 0 6.128 4.978 11.096 11.119 11.096zM91.631 141.679c0-10.937 8.895-19.814 19.855-19.814a19.82 19.82 0 0 1 15.461 7.397M63.304 117.543c1.9 0 3.441-1.537 3.441-3.434a3.437 3.437 0 0 0-3.441-3.434 3.438 3.438 0 0 0-3.442 3.434 3.438 3.438 0 0 0 3.442 3.434zM54.832 98.522a5.025 5.025 0 0 0 5.03-5.02 5.025 5.025 0 0 0-5.03-5.018 5.025 5.025 0 0 0-5.03 5.019 5.025 5.025 0 0 0 5.03 5.02z"></path>
                  <path stroke="#000" stroke-miterlimit="10" d="M28.359 128.11c3.947 0 7.148-3.193 7.148-7.133 0-3.939-3.2-7.132-7.148-7.132-3.948 0-7.148 3.193-7.148 7.132 0 3.94 3.2 7.133 7.148 7.133zM25.976 97.994a4.76 4.76 0 0 0 4.765-4.755 4.76 4.76 0 0 0-4.765-4.755 4.76 4.76 0 0 0-4.765 4.755 4.76 4.76 0 0 0 4.765 4.755zM109.315 149.362v12.299M84.324 161.503h49.93"></path>
                </svg>
                <!--img(src='../img/icon-consulting.svg')-->
              </div>
              <div class="block-content__info">
                <div class="block-content__info-title">Consulting</div>
                <div class="block-content__info-text">The creation of industry-specific it solutions, it-Consulting</div>
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block-content">
              <div class="block-content__img">
                <svg width="226" height="227" viewBox="0 0 226 227" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <!--defs
                  filter#f1(x='0', y='0', width='200%', height='200%')
                    feoffset(result='offOut', in='SourceGraphic', dx='20', dy='20')
                    fegaussianblur(result='blurOut', in='offOut', stddeviation='10')
                    feblend(in='SourceGraphic', in2='blurOut', mode='normal')
                  
                  -->
                  <path d="M112.852 145.04L85.8535 129.64V98.8408L112.852 114.241V145.04Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M113.148 145.04L140.147 129.64V98.8408L113.148 114.241V145.04Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M86.1504 98.5448L112.852 81.9604L140.148 99.1371" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M112.852 225L85.8535 209.6V178.801L112.852 194.201V225Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M113.148 225L140.147 209.6V178.801L113.148 194.201V225Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M86.1504 178.505L112.852 161.92L140.148 179.097" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M112.852 65.0796L85.8535 49.6798V18.8804L112.852 34.2801V65.0796Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M113.148 65.0796L140.147 49.6798V18.8804L113.148 34.2801V65.0796Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M86.1504 18.5843L112.852 2L140.148 19.1766" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M197.706 193.608L170.707 178.209V147.409L197.706 162.809V193.608Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M198.002 193.608L225.001 178.209V147.409L198.002 162.809V193.608Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M171.004 147.113L197.706 130.529L225.001 147.705" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M197.706 97.064L170.707 81.6642V50.8647L197.706 66.2645V97.064Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M198.002 97.064L225.001 81.6642V50.8647L198.002 66.2645V97.064Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M171.004 50.5687L197.706 33.9844L225.001 51.161" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M27.9987 193.608L1 178.209V147.409L27.9987 162.809V193.608Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M28.2949 193.608L55.2936 178.209V147.409L28.2949 162.809V193.608Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M1.29688 147.113L27.9989 130.529L55.2942 147.705" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M27.9987 97.064L1 81.6642V50.8647L27.9987 66.2645V97.064Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M28.2949 97.064L55.2936 81.6642V50.8647L28.2949 66.2645V97.064Z" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M1.29688 50.5687L27.9989 33.9844L55.2942 51.161" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M53.8105 51.7531L85.8529 33.0957" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M55.293 81.3677L85.5552 98.8405" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M55.293 177.912L85.5552 194.496" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M27.998 97.6562V130.529" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M172.782 52.049L139.85 33.3916" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M53.8105 148.298L85.8529 129.64" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M172.782 148.593L139.85 129.936" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M170.409 81.6641L140.146 98.8407" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M170.409 178.208L140.146 194.793" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M197.705 97.9521V130.825" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path d="M112.852 65.376V81.6642" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                  <path class="st" d="M112.852 145.04V162.217" stroke="#000" stroke-width="1" stroke-miterlimit="10"></path>
                </svg>
                <!--img(src='../img/icon-blockchain.svg')-->
              </div>
              <div class="block-content__info">
                <div class="block-content__info-title">Blockchain</div>
                <div class="block-content__info-text">Blockchain development</div>
              </div>
            </div>
            <div class="block-content">
              <div class="block-content__img">
                <svg width="234" height="203" viewBox="0 0 234 203" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M112.732 1H5.12061V202H112.732V1Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M30.0488 151.236C31.4223 151.236 39.5258 160.085 39.5258 160.085L57.793 127.774L74 139.848L88.2155 115.769" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M113.347 145.442C115.458 145.442 128.195 159.253 128.195 159.253L156.87 108.927L182.344 127.656L204.685 90.1311" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M29.1562 56.4978H55.527" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M29.1562 69.1206H63.4931" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M29.1562 81.8115H55.527" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M29.1562 94.5029H75.5797" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M4.65332 107.412H112.433" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M29.1562 42.2976H88.4217" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M4.65332 28.2852H112.433" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M4.65332 171.986H112.433" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M50.1016 14.9258H71.1844" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M39.526 17.9443C41.1948 17.9443 42.5477 16.5929 42.5477 14.9259C42.5477 13.2589 41.1948 11.9075 39.526 11.9075C37.8572 11.9075 36.5044 13.2589 36.5044 14.9259C36.5044 16.5929 37.8572 17.9443 39.526 17.9443Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M5.56693 41.0181H1V66.4841H5.56693" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M233 189.975L233 36.3091L112.89 36.3091L112.89 189.975L233 189.975Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M112.433 171.986H204.685L204.685 54.6606L112.433 54.6606" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M219.039 120.022C222.946 120.022 226.113 116.859 226.113 112.956C226.113 109.054 222.946 105.89 219.039 105.89C215.133 105.89 211.966 109.054 211.966 112.956C211.966 116.859 215.133 120.022 219.039 120.022Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M205.098 35.5748V32.4192H172.341V35.5748" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M65.9651 180.871H52.3677V194.454H65.9651V180.871Z" stroke="black" stroke-miterlimit="10"></path>
                </svg>
                <!--img(src='../img/icon-mobile.svg')-->
              </div>
              <div class="block-content__info">
                <div class="block-content__info-title">Mobile</div>
                <div class="block-content__info-text">Mobile application development</div>
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block-content">
              <div class="block-content__img">
                <svg width="194" height="199" viewBox="0 0 194 199" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M182 1H12V28.2994H182V1Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M182 43.8992H12V71.1985H182V43.8992Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M171.035 28.2993H22.9658V43.899H171.035V28.2993Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M182 86.7007H12V114H182V86.7007Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M171.035 71.101H22.9658V86.7006H171.035V71.101Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M94 113.988V151" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M54.5435 139.155V178.644" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M140.475 139.155V178.644" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M12 151V128H182V151" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M11.9067 172.506C17.9303 172.506 22.8134 167.62 22.8134 161.594C22.8134 155.567 17.9303 150.681 11.9067 150.681C5.88309 150.681 1 155.567 1 161.594C1 167.62 5.88309 172.506 11.9067 172.506Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M181.907 172.506C187.93 172.506 192.813 167.62 192.813 161.594C192.813 155.567 187.93 150.681 181.907 150.681C175.883 150.681 171 155.567 171 161.594C171 167.62 175.883 172.506 181.907 172.506Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M93.477 172.506C99.5006 172.506 104.384 167.62 104.384 161.594C104.384 155.567 99.5006 150.681 93.477 150.681C87.4534 150.681 82.5703 155.567 82.5703 161.594C82.5703 167.62 87.4534 172.506 93.477 172.506Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M65.45 177.962H45V198.423H65.45V177.962Z" stroke="black" stroke-miterlimit="10"></path>
                  <path d="M151.45 177.962H131V198.423H151.45V177.962Z" stroke="black" stroke-miterlimit="10"></path>
                </svg>
                <!--img(src='../img/icon-big-data.svg')-->
              </div>
              <div class="block-content__info">
                <div class="block-content__info-title">Big Data</div>
                <div class="block-content__info-text">Big Data</div>
              </div>
            </div>
            <div class="block-content">
              <div class="block-content__img">
                <svg xmlns="http://www.w3.org/2000/svg" width="221" height="162" fill="none" viewBox="0 0 221 162">
                  <path fill="none" d="M0 .497h220.357v161.164H0z"></path>
                  <path fill="none" d="M0 .497h220.357v161.164H0z"></path>
                  <path stroke="#000" stroke-miterlimit="10" d="M220.357.497H.497v149.289h219.86V.497z"></path>
                  <path stroke="#000" d="M79.587.497v149.226"></path>
                  <path stroke="#000" d="M0-.5h150.003" transform="matrix(-.00663 .99482 -.99484 0 144.749 .497)"></path>
                  <path stroke="#000" d="M0 74.718h219.859M79.443 114.192h64.515"></path>
                  <path stroke="#000" stroke-miterlimit="10" d="M177.406 65.764c11.989 0 21.709-9.699 21.709-21.663s-9.72-21.662-21.709-21.662c-11.989 0-21.709 9.698-21.709 21.662 0 11.964 9.72 21.663 21.709 21.663z"></path>
                  <path stroke="#000" stroke-miterlimit="10" d="M195.408 33.006L176.876 44.1l19.167 11.149M88.719 57.046c1.059 0 7.413 7.397 7.413 7.397l14.295-26.946 12.708 10.039 11.119-20.078M22.568 65.811v-7.53M34.029 65.811V46.984M45.488 65.811V41.337M56.948 65.811V46.984M68.408 65.811v-33.08M172.085 124.663v-4.326M179.105 131.125v-10.788M186.194 120.443v-18.906M193.283 120.444v-14.527M165.149 120.444v-12.818M158.686 126.852v-6.409M151.598 130.324v-9.881M200.832 120.443V87.865M85.807 92.182c2.647-1.057 4.87-3.012 7.412 2.113 2.648 5.284 5.295 7.926 8.472.529 3.177-7.397 4.765-14.266 9.001-4.227s5.824 7.925 9.001 3.17c3.177-4.755 4.236-4.755 5.295-4.755 1.059 0 4.236 6.868 6.883 6.868h3.707M35.77 124.148c6.142 0 11.12-4.968 11.12-11.096s-4.978-11.095-11.12-11.095c-6.14 0-11.118 4.967-11.118 11.095 0 6.128 4.978 11.096 11.119 11.096zM91.631 141.679c0-10.937 8.895-19.814 19.855-19.814a19.82 19.82 0 0 1 15.461 7.397M63.304 117.543c1.9 0 3.441-1.537 3.441-3.434a3.437 3.437 0 0 0-3.441-3.434 3.438 3.438 0 0 0-3.442 3.434 3.438 3.438 0 0 0 3.442 3.434zM54.832 98.522a5.025 5.025 0 0 0 5.03-5.02 5.025 5.025 0 0 0-5.03-5.018 5.025 5.025 0 0 0-5.03 5.019 5.025 5.025 0 0 0 5.03 5.02z"></path>
                  <path stroke="#000" stroke-miterlimit="10" d="M28.359 128.11c3.947 0 7.148-3.193 7.148-7.133 0-3.939-3.2-7.132-7.148-7.132-3.948 0-7.148 3.193-7.148 7.132 0 3.94 3.2 7.133 7.148 7.133zM25.976 97.994a4.76 4.76 0 0 0 4.765-4.755 4.76 4.76 0 0 0-4.765-4.755 4.76 4.76 0 0 0-4.765 4.755 4.76 4.76 0 0 0 4.765 4.755zM109.315 149.362v12.299M84.324 161.503h49.93"></path>
                </svg>
                <!--img(src='../img/icon-corp-sys.svg')-->
              </div>
              <div class="block-content__info">
                <div class="block-content__info-title">Corporate systems</div>
                <div class="block-content__info-text">Development and implementation of corporate systems management (BI, CPM, MDM)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section--technologies" id="technologies">
      <div class="section__sidebar">
        <h3>Technologies</h3>
      </div>
      <div class="section__content">
        <p class="title">In our work we use the most modern project management and team integration technologies</p>
        <div class="block-area">
          <div class="block">
            <div class="block-content">
              <div class="block-content__info">
                <div class="block-content__info-title">Languages<br> programmings</div>
                <div class="block-content__info-text">
                  <ul>
                    <li>php7.x</li>
                    <li>С#</li>
                    <li>js</li>
                    <li>Python</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block-content">
              <div class="block-content__info">
                <div class="block-content__info-title">Data <br>base</div>
                <div class="block-content__info-text">
                  <ul>
                    <li>postgresql</li>
                    <li>mysql</li>
                    <li>mssql</li>
                    <li>mongo</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block-content">
              <div class="block-content__info">
                <div class="block-content__info-title">Blockchain<br> development</div>
                <div class="block-content__info-text">
                  <ul>
                    <li>Etherium</li>
                    <li>Solidity</li>
                    <li>Openzepplin</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block-content">
              <div class="block-content__info">
                <div class="block-content__info-title">Mobile <br>development</div>
                <div class="block-content__info-text">
                  <ul>
                    <li>Objective-C</li>
                    <li>Swift</li>
                    <li>Java</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section--contacts" id="contacts">
      <div class="section__sidebar">
        <h3>Contacts</h3>
      </div>
      <div class="section__content">
        <div class="content-area">
          <div class="block-info">
            <div class="block-info__label">Address:</div>
            <div class="block-info__text">Lithuania, Kęstučio g. 1-8<br>LT-08118 Vilnius</div>
          </div>
          <div class="block-info">
            <div class="block-info__label">Phone:</div>
            <div class="block-info__text"> +370 687 11650</div>
          </div>
        </div>
      </div>
      <div class="section__map">
        <div class="map"><img src="../img/map2.png">
          <!--.place-->
          <!--  img(src="../img/icon-place.svg")-->
        </div>
        <div class="map-button"><img src="../img/arrow.svg"></div>
        <!--.content-map-->
        <!--  .map-->
        <!--    img(src="../img/map.png")-->
        <!--  .map-button-->
        <!--    img(src="../img/arrow.svg")-->
      </div>
    </section>
    <section class="section section--form">
      <div class="title">Leave a request for the calculation of the project. It's free</div>
      <form class="form">
        <input class="form-field" type="text" placeholder="Phone or e-mail">
        <input class="form-button" type="submit" value="Reach">
      </form>
    </section>
    <footer class="footer">
      <div class="footer-info">Modern technologies for solving complex problems</div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!--script(src='/assets/bootstrap-3/js/bootstrap.js')-->
    <!--script(src="/assets/wow-animation/wow.min.js")-->
    <script src="/js/script.js"></script>
    <!-- анимация при прокрутке-->
    <!--script new WOW().init();-->
    <!--script(src = 'js/script.js')-->
  </body>
</html>
